@font-face {
  font-family: 'Fira Mono';
  src: url("/assets/fonts/FiraMono-Regular.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

#nav-main-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 0 20px;
}

nav {
  width: 175px;
  flex-shrink: 0;
}

main {
  flex: 1;
  width: 100%;
  max-width: 805px;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto
}

@media (max-width: 1075px) {
  #nav-main-container {
    flex-direction: column;
  }
  
  nav {
    flex-basis: auto;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
  }
    
  nav .sublist {
    display: none;
  }
}

@media (max-width: 600px) {
  .posts-list-entry .post-header {
    flex-direction: column;
  }
  
  .posts-list-entry .post-date {
      flex-shrink: 0;
      white-space: nowrap;
      color: #666;
      font-size: 0.9em;
      margin: -15px 0 5px 0;
  }
}

h1 {
  margin-top: 30px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 25px;
  margin-bottom: 0px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 0px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 0px;
}

main > *:first-child {
  margin-top: 5px;
}

main > .posts-list-entry:first-child {
  padding-top: 5px;
}

header {
  margin: 20px 0 10px 0;
}

#site-title {
  font-size: 30px;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

main img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: auto;
}

blockquote {
  border-left: 4px solid #ccc;
  padding-left: 15px;
  margin: 30px 0px 30px 35px;
  color: #666;
  font-style: italic;
}

blockquote blockquote {
  margin-left: 0px;
}

.post-title {
  margin: 0;
}

.post-date {
  color: #666;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #333;
  background-color: #fafafa;
  padding-bottom: 75px;
}

pre {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 25px;
  overflow: auto;
  font-family: "Fira Mono", "Jetbrains Mono NL", Monaco, "Courier New", monospace;
}

code {
  border: 1px solid #ccc;
  font-size: 0.95em;
  border-radius: 3px;
  padding: 1px 3px;
  font-family: "Fira Mono", "Jetbrains Mono NL", Monaco, "Courier New", monospace;
  white-space: nowrap;
}

.codehilite {
  font-size: 0.95em;
  border-radius: 3px;
  padding: 1px 3px;
  font-family: "Fira Mono", "Jetbrains Mono NL", Monaco, "Courier New", monospace;
  white-space: nowrap;
}

pre .codehilite {
  border: None;
  padding: 0px;
  background-color: transparent;
  white-space: pre;
}

math[display="block"] {
  font-size: 1.2em;
  margin: 20px;
}

.math-wrapper {
    overflow-x: auto;
    max-width: 100%;
    box-sizing: border-box;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav li {
  margin: 3px 0;
  font-size: 1.1rem;
}

nav a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
  border-radius: 3px;
  transition: background-color 0.1s;
}

nav a:hover {
  background-color: #e3e3e3;
}

nav .sublist {
  padding-left: 15px;
}

nav .sublist a {
  padding: 6px 10px;
  font-size: 1rem;
}

.posts-list-entry {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 15px;
    margin: 10px 0;
    border-radius: 6px;
}

.posts-list-entry .post-header {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 8px;
}

.posts-list-entry .post-title {
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
}

 .post-title a {
    text-decoration: none;
    color: inherit;
 }

.posts-list-entry .post-date {
    flex-shrink: 0;
    white-space: nowrap;
    color: #666;
    font-size: 0.9em;
}

.posts-list-entry .post-summary {
    margin: 0;
    color: #666;
}

main a {
  color: #555;
  text-decoration: none;
  border-bottom: 2px solid #ddd;
  transition: border-color 0.2s;
}

main a:hover {
  color: #333;
  border-bottom-color: #337ab7;
}

.footnote-ref,
.footnote-backref {
  border-bottom: none;
}

.footnote-ref:hover,
.footnote-backref:hover {
  font-weight: bold;
  color: #337ab7;
}

.footnote {
  margin: 16px 0px 30px 16px;
}

.footnote a {
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  max-width: 100%;
}

.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

th, td {
  text-align: center;
  padding: 6px 15px;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: normal;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
}

tr:last-child td {
  border-bottom: none;
}

th:first-of-type {
  border-top-left-radius: 3px;
}
th:last-of-type {
  border-top-right-radius: 3px;
}

main li {
  margin-bottom: 5px;
}

#home-quote {
  font-size: 1.1em;
  color: #555;
  font-style: italic;
  background-color: #f5f5f5;
  border: none;
  padding: 20px 30px;
  margin: 15px auto;
  max-width: 80%;
  border-radius: 3px;
}

#home-quote cite {
  display: block;
  font-size: 0.85em;
  color: #777;
  font-style: normal;
  text-align: right;
}

nav a.active {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}

html {
  scrollbar-gutter: stable both-edges;
}

figcaption {
  text-align: center;
  font-size: 0.9em;
}