#container {
  max-width: 1000px;
  margin: 0 auto;
}

#nav-main-container {
  display: flex;
  flex-wrap: wrap;
}

nav {
  flex-basis: 200px;
}

main {
  flex: 1;
  min-width: 400px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #333;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 25px;
  overflow: auto;
  font-family: "Fira Mono", Menlo, Consolas, monospace;
}

code {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1px 3px;
  font-family: "Fira Mono", Menlo, Consolas, monospace;
}

pre code {
  border: None;
  padding: 0px;
  background-color: transparent;
}

math[display="block"] {
  font-size: 1.3em;
  margin: 20px;
}