.demo-container canvas {
    width: 100%;
    display: block;
    margin: 15px auto;
    aspect-ratio: 4 / 3;
}

.demo-container {
    padding: 20px 20px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fafafa;
}

.demo-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.demo-buttons-split {
    display: flex;
    justify-content: space-around;
}

.demo-buttons-left {
    display: flex;
    gap: 15px;
}
.demo-buttons-right {
    display: flex;
    flex-direction: row;
}

.demo-buttons button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.2s;
}

.demo-buttons button:hover {
    background-color: #e3e3e3;
}

.demo-buttons button.color-selector {
    padding: 2px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-swatch {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.demo-buttons button.color-selector.selected {
    background-color: #d0d0d0;
    border-color: #999;
}

.demo-buttons button.color-selector.selected:hover {
    background-color: #d0d0d0;
}

.sample-cell {
    padding: 0;
    width: 1.3em;
    height: 1.3em;
    align-items: center;
    justify-content: center;
    margin-right: 0.3em;
}