<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>evan.schor</title>
        <meta name="description" content="{{description}}">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <div id="container">
            <header>
                <h1>
                    <a href="/">evan.schor</a>
                </h1>
            </header>
            <main>
                <h1>
                    404 Error
                </h1>
            </main>
        </div>
    </body>
</html>
